body {
    margin: 0;
    padding: 0;
    background-color: #fffef0;
}

header {
 background: #F9F7CB;
 position: fixed;
 width: 100%;
 height: 60px;
 top: 0;
 padding: 12px 20px;
}

header, nav {
 display: flex;
 justify-content: space-between;
 margin-right: 30px;

}

h3 {
    font-family: "Inter", sans-serif;
    margin: 30px;
    margin-top: 25px;
}

i {
    font-size: 30px;
    margin: 30px;
    margin-top: 20px;
    color: black;
}

.comprarAgora {
    background-color: #E5A000;
    border-radius: 10px;
    color: white;
    border: none;
    width: 200px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.comprarAgora:hover {
    background-color: #c48800;
    cursor: pointer;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url('trecogira.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 60px;
    margin-bottom: 0px;
}

.hero p {
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 450px;
    font-weight: 500;
    font-size: larger;
    margin-top: 5px;
}

footer {
    background-color: #F9F7CB;
    color: #626262;
    padding: 30px 20px;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
footer h4 {
    margin: 0 0 10px 0;
}
footer p, footer a {
    font-size: 0.85rem;
    color: #626262;
    text-decoration: none;
}

.sla img {
    width:150px;
    margin-left: 10px;
}

.sla i {
    font-size: 20px;
    color: #626262;
    margin: 10px;
}

.sobre {
    align-items: center;
    margin: 20px;
    font-family: "Inter", sans-serif;
}

.sobre h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 70px;
    padding: 0%;
    color: #9F2323;
}

.sobre p {
    font-size: 20px;
    text-align: center;
    margin-top: -30px;
    line-height: 1.8;
    font-size: xx-large;
    font-weight: 500;
}

.ingressos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card img {
    width: 400px;
    height: 200px;
    margin-left: 40px;
    object-fit: cover;
}
.card .content {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 0px;
}

.card ul {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

.compra {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 70px;
    padding: 0%;
    color: #9F2323;
}

.comprarIngresso {
    background-color: #A52E21;
    border-radius: 10px;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 100px;
}

.comprarIngresso:hover {
    background-color: #7e2218;
    cursor: pointer;
}